<html>

<link rel="stylesheet" href="https://bootswatch.com/4/pulse/bootstrap.min.css" integrity="" crossorigin="anonymous">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">PHD REVIEW SYSTEM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
</nav>


<div class="container">
<p id=”alert”><%= alert %></p>

<div class="jumbotron">
  <h1 class="display-5"> <%= form_tag('/password_resets', class: "form-group row") do %>Reset Password</h1>
  <hr class="my-4">
  <div class='field'>
       <div class="form-group row">
      <label for="email" class="col-sm-2 col-form-label">Email address</label>
      <div class="col-sm-10">
        <%= text_field_tag :email, params[:email] %>
      </div>
      </div>
  </div>
    <div class='actions'>
    <%= submit_tag "Reset Password" %>
  </div>
<% end %>
</div>
</html>