<html>

<link rel="stylesheet" href="https://bootswatch.com/4/pulse/bootstrap.min.css" integrity="" crossorigin="anonymous">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">PHD REVIEW SYSTEM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
    <form action ="/login"><button   class="btn btn-secondary"  style="float: right;">Log Out</button></form>
  </div>
</nav>

<div class="container">
    
<%= @greeting %> <%= @auth.username %>, <br>

To reset your password, click the URL below: <br>

<%= edit_password_reset_url(@auth.password_reset_token) %> <!--This is the link to reset your password-->

If you did not request your password to be reset, just ignore this e-mail and your password will stay the same.

</div>
</html>