<!--Dates-->
<html>
<link rel="stylesheet" href="https://bootswatch.com/4/pulse/bootstrap.min.css" integrity="" crossorigin="anonymous">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">PHD REVIEW SYSTEM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<div class="container">
<div class="page-header">
<h1>Date Selection</h1>
</div>
<form action='/date_update'>
<fieldset>
    <div class="form-group">
<label for='rosd_date'>Review Official Student Deadline:</label>
<input type="date" name='rosd_date'>
    </div>
<fieldset>
    <div class="form-group">
<label for='rsid_date'>Review Student Input Date:</label>
<input type="date" name='rsid_date'>
    </div>
<fieldset>
    <div class="form-group">
<label for='rfid_date'>Review Faculty Input Date</label>
<input type="date" name='rfid_date'>
    </div>
<fieldset>
    <div class="form-group">
<label for='rrd_date'>Review Release Date</label>
<input type="date" name='rrd_date'>
    </div>
<fieldset>
    <div class="form-group">
<label for='ipod_date'>IP Open Date</label>
<input type="date" name='ipod_date'>
    </div>
<fieldset>
    <div class="form-group">
<label for='ipsd_date'>IP Official Student Date</label>
<input type="date" name='ipsd_date'>
    </div>
<fieldset>
    <div class="form-group">
<label for="ipsid_date">IP Student Input Date</label>
<input type="date" name="ipsid_date">
    </div>
<fieldset>
    <div class="form-group">
<label for="ipfd_date">IP Faculty Input Date</label>
<input type="date" name="ipfd_date">
    </div>
<body>
<fieldset>
    <div class="form-group">
<label for="iprd_date" >IP Release Date</label>
<input type="date" name="iprd_date" >
    </div>
<fieldset>
    <div class="form-group">
<label for="dpo_date">DP Open Date</label>
<input type="date" name="dpo_date">
    </div>
<fieldset>
    <div class="form-group">
<label for="dpos_date">DP Official Student Deadline</label>
<input type="date" name="dpos_date">
    </div>
<fieldset>
    <div class="form-group">
<label for="dpsi_date">DP Student Input Date</label>
<input type="date" name="dpsi_date" >

<fieldset>
    <div class="form-group">
<label for="dpfi_date">DP Faculty Input Date</label>
<input type="date" name="dpfi_date">
    </div>
<fieldset>
    <div class="form-group">
<label for="dprd_date" >DP Release Date</label>
<input type="date" name="dprd_date" >
</div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<form action="/searches"><button class="btn btn-primary">Back</button></form>
    
</html>

