<!--Dates-->
<html>
<link rel="stylesheet" href="https://bootswatch.com/4/pulse/bootstrap.min.css" integrity="" crossorigin="anonymous">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/searches/new">PHD REVIEW SYSTEM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
    <form action ="/login"><button   class="btn btn-secondary"  style="float: right;">Log Out</button></form>
  </div>
</nav>


<br>
<div class="container">
    <div class="page-header">
        <h1>Date Selection</h1>
    </div>
    <br>
    <form action='/date_update'>
        <fieldset>
            <div class='form-row'>

                <div class="form-group col-md-3">
                    <div class="form-group">
                        <label for='rosd_date'>Review Official Student Deadline:</label>
                        <input type="date" class="form-control" name='rosd_date'>
                    </div>
                </div>

                <div class="form-group col-md-3">
                    <div class="form-group">
                        <label for='rsid_date'>Review Student Input Date:</label>
                        <input type="date" class="form-control" name='rsid_date'>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <div class="form-group">
                        <label for='rfid_date'>Review Faculty Input Date</label>
                        <input type="date" class="form-control" name='rfid_date'>
                    </div>
                </div>

                <div class="form-group col-md-3">
                    <div class="form-group">
                        <label for='rrd_date'>Review Release Date</label>
                        <input type="date" class="form-control" name='rrd_date'>
                    </div>
                </div>
            </div>
            <div class='form-row'>
                <div class="form-group col-md-3">
                    <div class="form-group">
                        <label for='ipod_date'>IP Open Date</label>
                        <input type="date" class="form-control" name='ipod_date'>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <div class="form-group">
                        <label for='ipsd_date'>IP Official Student Date</label>
                        <input type="date" class="form-control" name='ipsd_date'>
                    </div>
                </div>

                <div class="form-group col-md-3">
                    <div class="form-group">
                        <label for="ipsid_date">IP Student Input Date</label>
                        <input type="date" class="form-control" name="ipsid_date">
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <div class="form-group">
                        <label for="ipfd_date">IP Faculty Input Date</label>
                        <input type="date" class="form-control" name="ipfd_date">
                    </div>
                </div>
            </div>
            <div class='form-row'>
                <div class="form-group col-md-3">
                    <div class="form-group">
                        <label for="iprd_date">IP Release Date</label>
                        <input type="date" class="form-control" name="iprd_date">
                    </div>
                </div>

                <div class="form-group col-md-3">
                    <div class="form-group">
                        <label for="dpo_date">DP Open Date</label>
                        <input type="date" class="form-control" name="dpo_date">
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <div class="form-group">
                        <label for="dpos_date">DP Official Student Deadline</label>
                        <input type="date" class="form-control" name="dpos_date">
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <div class="form-group">
                        <label for="dpsi_date">DP Student Input Date</label>
                        <input type="date" class="form-control" name="dpsi_date">
                    </div>
                </div>

            </div>
            <div class='form-row row-center'>
                <div class="form-group col-md-3">
                    <div class="form-group">
                        <label for="dpfi_date">DP Faculty Input Date</label>
                        <input type="date" class="form-control" name="dpfi_date">
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <div class="form-group">
                        <label for="dprd_date">DP Release Date</label>
                        <input type="date" class="form-control" name="dprd_date">
                    </div>
                </div>
            </div>
            
        </fieldset>
        <button type="submit" class="btn btn-primary">
            Submit
        </button>
    </form>
    <form action="/searches">
        <button class="btn btn-primary" style="float: right">Back</button>
    </form>
</div>
</html>

