<!--Dates-->
<html>
<link rel="stylesheet" href="https://bootswatch.com/4/pulse/bootstrap.min.css" integrity="" crossorigin="anonymous">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">PHD REVIEW SYSTEM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<div class="container">
<div class="page-header">
<h1>Date Selection</h1>
</div>

<fieldset>
    <div class="form-group">
<label for="meeting-time">Review Official Student Deadline:</label>
<input type="datetime-local" id="meeting-time"
       name="meeting-time" value="1993-03-12T19:30">
    </div>
<fieldset>
    <div class="form-group">
<label for="meeting-time">Review Student Input Date       :</label>
<input type="datetime-local" id="meeting-time"
       name="meeting-time" value="2018-06-12T19:30"
       min="2018-06-07T00:00" max="2018-06-14T00:00">
    </div>
<fieldset>
    <div class="form-group">
<label for="meeting-time">Review Faculty Input Date</label>
<input type="datetime-local" id="meeting-time"
       name="meeting-time" value="2018-06-12T19:30"
       min="2018-06-07T00:00" max="2018-06-14T00:00">
    </div>
<fieldset>
    <div class="form-group">
<label for="meeting-time">Review Release Date</label>
<input type="datetime-local" id="meeting-time"
       name="meeting-time" value="2018-06-12T19:30"
       min="2018-06-07T00:00" max="2018-06-14T00:00">
    </div>
<fieldset>
    <div class="form-group">
<label for="meeting-time">IP Open Date</label>
<input type="datetime-local" id="meeting-time"
       name="meeting-time" value="2018-06-12T19:30"
       min="2018-06-07T00:00" max="2018-06-14T00:00">
    </div>
<fieldset>
    <div class="form-group">
<label for="meeting-time">IP Official Student Date</label>
<input type="datetime-local" id="meeting-time"
       name="meeting-time" value="2018-06-12T19:30"
       min="2018-06-07T00:00" max="2018-06-14T00:00">
    </div>
<fieldset>
    <div class="form-group">
<label for="meeting-time">IP Student Input Date</label>
<input type="datetime-local" id="meeting-time"
       name="meeting-time" value="2018-06-12T19:30"
       min="2018-06-07T00:00" max="2018-06-14T00:00">
    </div>
<fieldset>
    <div class="form-group">
<label for="meeting-time">IP Faculty Input Date</label>
<input type="datetime-local" id="meeting-time"
       name="meeting-time" value="2018-06-12T19:30"
       min="2018-06-07T00:00" max="2018-06-14T00:00">
    </div>
<body>
<fieldset>
    <div class="form-group">
<label for="meeting-time">Review Official Student Deadline</label>
<input type="datetime-local" id="meeting-time"
       name="meeting-time" value="2018-06-12T19:30"
       min="2018-06-07T00:00" max="2018-06-14T00:00">
    </div>
<fieldset>
    <div class="form-group">
<label for="meeting-time">Review Student Input Date</label>
<input type="datetime-local" id="meeting-time"
       name="meeting-time" value="2018-06-12T19:30"
       min="2018-06-07T00:00" max="2018-06-14T00:00">
    </div>
<fieldset>
    <div class="form-group">
<label for="meeting-time">Review Faculty Input Date</label>
<input type="datetime-local" id="meeting-time"
       name="meeting-time" value="2018-06-12T19:30"
       min="2018-06-07T00:00" max="2018-06-14T00:00">
    </div>
<fieldset>
    <div class="form-group">
<label for="meeting-time">Review Release Date</label>
<input type="datetime-local" id="meeting-time"
       name="meeting-time" value="2018-06-12T19:30"
       min="2018-06-07T00:00" max="2018-06-14T00:00">
    </div>
<fieldset>
    <div class="form-group">
<label for="meeting-time">IP Open Date</label>
<input type="datetime-local" id="meeting-time"
       name="meeting-time" value="2018-06-12T19:30"
       min="2018-06-07T00:00" max="2018-06-14T00:00">
    </div>
<fieldset>
    <div class="form-group">
<label for="meeting-time">IP Official Student Date</label>
<input type="datetime-local" id="meeting-time"
       name="meeting-time" value="2018-06-12T19:30"
       min="2018-06-07T00:00" max="2018-06-14T00:00">
    </div>
<fieldset>
    <div class="form-group">
<label for="meeting-time">IP Student Input Date</label>
<input type="datetime-local" id="meeting-time"
       name="meeting-time" value="2018-06-12T19:30"
       min="2018-06-07T00:00" max="2018-06-14T00:00">
    </div>
<fieldset>
    <div class="form-group">
<label for="meeting-time">IP Faculty Input Date</label>
<input type="datetime-local" id="meeting-time"
       name="meeting-time" value="2018-06-12T19:30"
       min="2018-06-07T00:00" max="2018-06-14T00:00">
    </div>
<fieldset>
    <div class="form-group">
<label for="meeting-time">IP Release Date</label>
<input type="datetime-local" id="meeting-time"
       name="meeting-time" value="2018-06-12T19:30"
       min="2018-06-07T00:00" max="2018-06-14T00:00">
    </div>
<fieldset>
    <div class="form-group">
<label for="meeting-time">DP Open Date</label>
<input type="datetime-local" id="meeting-time"
       name="meeting-time" value="2018-06-12T19:30"
       min="2018-06-07T00:00" max="2018-06-14T00:00">
    </div>
<fieldset>
    <div class="form-group">
<label for="meeting-time">Date Official Student Deadline</label>
<input type="datetime-local" id="meeting-time"
       name="meeting-time" value="2018-06-12T19:30"
       min="2018-06-07T00:00" max="2018-06-14T00:00">
    </div>
<fieldset>
    <div class="form-group">
<label for="meeting-time">DP Student Input Date</label>
<input type="datetime-local" id="meeting-time"
       name="meeting-time" value="2018-06-12T19:30"
       min="2018-06-07T00:00" max="2018-06-14T00:00">

<fieldset>
    <div class="form-group">
<label for="meeting-time">DP Faculty Input Date</label>
<input type="datetime-local" id="meeting-time"
       name="meeting-time" value="2018-06-12T19:30"
       min="2018-06-07T00:00" max="2018-06-14T00:00">
    </div>
<fieldset>
    <div class="form-group">
<label for="meeting-time">DP Release Date</label>
<input type="datetime-local" id="meeting-time"
       name="meeting-time" value="2018-06-12T19:30"
       min="2018-06-07T00:00" max="2018-06-14T00:00">
    </div>
<form action=searches>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>    
</html>

