<html>
<link rel="stylesheet" href="https://bootswatch.com/4/pulse/bootstrap.min.css" integrity="" crossorigin="anonymous">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">PHD REVIEW SYSTEM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<div class="container">

<div class="page-header">
<h1>Student Details</h1>

</div>
<form action="/action_page.php">Official name:<input type="text" name="Official Name" value="Ketan Sethi" readonly></form> 
<form action="/action_page.php">Current Degree Program:<input type="text" name="Current Degree Program"></form> 
<form action="/action_page.php">First Semester Registered in Program:<input type="text" name="First Semester Registered in Program" value=""></form> 
<form action="/action_page.php">Cumulative GPR:<input type="text" name="Cumulative GPR" value=""></form> 
<form action="/action_page.php">Advisor:<input type="text" name="Advisor" value=""></form> 
<form action="/action_page.php">Committee Members:<input type="text" name="Committee Members" value=""></form> 
<form action="/action_page.php">Degree Plan:<input type="text" name="Degree Plan" value=""></form> 
<form action="/action_page.php">Prelim Exam:<input type="text" name="Prelim Exam" value=""></form>
<form action="/action_page.php">Proposal Date:<input type="text" name="Proposal Date" value=""></form>
<form action="/action_page.php">Final Exam:<input type="text" name="Final Exam" value=""></form>
<form action="/action_page.php">Semester plan to Graduate:<input type="text" name="Semester plan to Graduate" value=""></form>
<form action="/action_page.php">Current CV:<input type="text" name="Current CV" value=""></form>
<form action="/action_page.php">Student Report:<input type="text" name="Student Report"></form>
</body>    
</html>
