<link rel="stylesheet" href="https://bootswatch.com/4/pulse/bootstrap.min.css" integrity="" crossorigin="anonymous">
<h1>Search for a student</h1>

<form action=searches>
    <label for="UIN">UIN</label>
    <input type="text" name="UIN"/>
    <label for="first_name">First Name</label>
    <input type="text" name="first_name"/>
    <label for="last_name">Last Name</label>
    <input type="text" name="last_name"/>
    <label>Review Year</label>
    <select name="review_year">
        <option>2018</option>
        <option>2019</option>
    </select>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>